.human-container
{
	display: flex;
	justify-content: space-between;
}
.human-container

.human-text-fields
{
	width: 55%;
	margin-right: 5%;
}

.photo-area
{
	width: 90%;
	height:67vh;
	text-align: center;
}

.photo-area > div
{
	width: 90%;
	height: 90%;
	border: solid 1px;
}

.photo-area img
{
	object-fit: cover;
	width: 100%;
	min-width: 300px;
	height: 100%;
	min-height: 400px;
}

.choose-photo
{
	width: 90%;
}
